body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.scope {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,255,255,0.1) 30%, rgba(255,255,255,0) 70%);
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.crosshair-vertical,
.crosshair-horizontal {
  position: absolute;
  background: #fff;
}

.crosshair-vertical {
  width: 2px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.crosshair-horizontal {
  height: 2px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.center-dot {
  width: 10px;
  height: 10px;
  background: rgb(255, 0, 0);
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.point {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ff0;
  border-radius: 50%;
}

.info-box {
  position: absolute;
  bottom: 20px;
  width: 200px;
  height: 100px;
  background: rgba(255, 255, 255, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid #000;
  border-radius: 10px;
}

.controls {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.btn {
  width: 50px;
  height: 50px;
  background-color: #444;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.btn:hover {
  background-color: #666;
}

.btn:active {
  background-color: #888;
}
.scope.bigger {
  width: 450px;
  height: 450px;
}