/* FONT 모음집
/* 두꺼운 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
/* font-family: "Alfa Slab One", serif;
font-weight: 400;
font-style: normal; */

/* 픽셀 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Jersey+20&display=swap');
/* font-family: "Jersey 20", sans-serif;
font-weight: 400;
font-style: normal; */

/* i 다이아몬드 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Jersey+20&family=Rowdies:wght@300;400;700&display=swap');
/* font-family: "Rowdies", sans-serif;
font-weight: 400;
font-style: normal; */

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  color: #333;
  font-family: 'Montserrat', 'Pretendard', sans-serif;
}

body {
  position: relative;
  width: 100%;
  height: 100%;

  background-color: #232323;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#focus {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: top .1s,
              left .1s;
  z-index: 10;
}
h1 {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal; 
  font-size: 6rem;
  text-align: center;
  text-shadow: -1px -1px 0 #FFFEF0, 1px -1px 0 #FFFEF0, -1px 1px 0 #FFFEF0, 1px 1px 0 #FFFEF0;
}
.building {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  height: 80%;
}
.bird {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 61%;
  top: 20%;
  transform: rotate( 45deg );
}
.cloud {
  position:absolute;
  left: 6%;
  top: 25%;
  width: 250px;
  height: 70px;
}
.cloud1{
  position:absolute;
  left: 20%;
  top: 13%;
  width: 250px;
  height: 70px;
}
.cloud3{
  position:absolute;
  left: 70%;
  top: 19%;
  width: 250px;
  height: 70px;
}
.sun {
  position: absolute;
  top: 2% ;
  right: 4%;
  width: 150px;
  height: 150px;
}
.back{
  position: absolute;
  top: 2%;
  left: 5%;
  width: 250px;
  height: 120px;
}
.box1 {
  position: absolute;
  left: 632px;
  top: 420px;
  width: 41px;
  height: 40px;
 }
.box1:hover {
 background-color: #FFFEF0;
 position: absolute;
 left: 632px;
 top: 420px;
 width: 41px;
 height: 40px;
}
.box2 {
  position: absolute;
  left: 350px;
  top: 416px;
  width: 41px;
  height: 20px;
}
.box2:hover {
  background-color: #FFFEF0;
  position: absolute;
  left: 350px;
  top: 416px;
  width: 41px;
  height: 20px;
}
.box3 {
  position: absolute;
  top: 475px;
  left: 758px;
  width: 155px;
  height: 24px;
}
.box3:hover {
  background-color: #FFFEF0;
  position: absolute;
  top: 475px;
  left: 758px;
  width: 155px;
  height: 24px;
}
.box4 {
  position: absolute;
  top: 481px;
  right: 621px;
  width: 50px;
  height: 23px;
}
.box4:hover {
  background-color: #FFFEF0;
  position: absolute;
  top: 481px;
  right: 621px;
  width: 50px;
  height: 23px;
}
.box5 {
  position: absolute;
  top: 622px;
  right: 357px;
  width: 181px;
  height: 28px;
}
.box5:hover {
  background-color: #FFFEF0;
  position: absolute;
  top: 622px;
  right: 357px;
  width: 181px;
  height: 28px;
}
body {
  background: linear-gradient(to left, #232323 0%, #232323 100%);
} */

#sky {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#shootingstars {
  margin: 0;
  padding: 0;
  width: 150vh;
  height: 100vw;
  position: fixed;
  overflow: hidden;
  transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%))
    rotate(120deg);
}

.wish {
  height: 2px;
  top: 300px;
  width: 100px;
  margin: 0;
  opacity: 0;
  padding: 0;
  background-color: white;
  position: absolute;
  background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px white);
  overflow: hidden;
}
