:root {
  --color1 : #0C2B2D;
  --color2 : #FF665E;
  --color3 : #0090D6;
  --color4 : #45BF74;
  --color5 : #F6E245;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--color3);
}
